<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kenplayschool">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.kenplayschool.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.kenplayschool.permission.C2D_MESSAGE" />


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_kenreach"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- android:name="com.google.android.gms:play-services-9.4.0"
         android:value="@integer/google_play_services_version" />

          SHAI Key: 3F:AB:D5:BE:61:36:49:80:8C:12:79:AA:CD:4B:44:46:11:B9:C3:25
          KEY: AIzaSyAUUkzWa4MqNRp2cmPltEcm3qKxvW6Hd6g
         // PROJECT_NUMBER = "466610842678";
         Server API Key: AIzaSyD5HoGLvdlxSDrugEsIQvctjFcLxDZsy-s
         Sender Id: 466610842678  -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--<activity-->
            <!--android:name="com.kenplayschool.WelcomeActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/com_facebook_activity_theme" />
        <activity
            android:name="com.kenplayschool.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kenplayschool.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.EventzActivity"
            android:label="@string/title_activity_events"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.kenplayschool.HolidayListActivity" />
        <activity
            android:name="com.kenplayschool.EventzDetailActivity"
            android:label="@string/title_activity_holiday_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.SectorialDetails"
            android:label="@string/title_activity_sectorial_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.SocialUpdatesActivity"
            android:label="@string/title_activity_social_updates"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.AboutUsActivity"
            android:label="@string/title_activity_manifesto"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.ChangePassActivity"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.FeedbackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.DisplayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.AdmissionActivity"
            android:label="@string/title_activity_admission"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.FeesActivity"
            android:label="@string/title_activity_donation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.kenplayschool.BlogActivity"
            android:label="@string/title_activity_blog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.RegistrationChildActivity"
            android:label="@string/title_activity_child_registration"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.LoginActivityOldie"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.BulletinActivity"
            android:label="@string/title_activity_bulletin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.ProfileEditActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.BulletinDetailActivity"
            android:label="@string/title_activity_bulletin_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.TodaysActivity"
            android:label="@string/title_activity_todays"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.SignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.kenplayschool.ForgetPassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.FullScreenPhotoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.SuccessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.PostDiscussionComment"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.VoterIdActivity"
            android:label="@string/title_activity_voter_id"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.PhotoActivity"
            android:label="@string/title_activity_photo"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kenplayschool.HomeActivity"
            android:label="@string/title_activity_menu"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.EnquiryActivity"
            android:label="@string/title_activity_enquiry"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.CreateEnquiryActivity"
            android:label="@string/title_activity_enquiry_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.GalleryActivity"
            android:label="@string/title_activity_contact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.FacilitiesActivity"
            android:label="@string/title_activity_contact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kenplayschool.PerformanceActivity"
            android:label="@string/title_activity_performance"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.kenplayschool.VideoCallActivity" />
        <activity android:name="com.kenplayschool.DiaryActivity" />
        <activity android:name="com.kenplayschool.CreateBulletinActivity" />
        <activity android:name="com.kenplayschool.AttendanceActivity" />
        <activity android:name="com.kenplayschool.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.kenplayschool.EnquiryDetailActivity"
            android:windowSoftInputMode="stateHidden" ></activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>


        <!--
            Defining Services
        -->
        <service
            android:name="com.kenplayschool.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.kenplayschool.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


    </application>

    </manifest>